<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="../stylesheets/404.css" rel="stylesheet" type="text/css">

<meta name="viewport" content="width=device-width">
  </head>
  <body>



    <div id="switch-container">
  	<input type="checkbox" class="toggle" id="switch">
  	<h3 id="title"> Oh no, this page cannot be found. Maybe this Switch will help.  <span id="day">Day</span> and <span id="night">Night</span><br><span id="by"> <a href="http://www.albertohartzet.com" target="_blank"><strong></strong></a></span></h3>
  	<label for="switch">
  		<div class="switcher" id="on"></div>
  	</label>
  	<div id="back">
  		<div id="css-moon">
  			<div id="rotate">

  				<div id="oval-container">

  					<span class="texture oval t1"></span>
  					<span class="texture oval t2"></span>
  					<span class="texture oval t3"></span>
  					<span class="texture oval t4"></span>
  					<span class="texture oval t5"></span>
  				</div>
  				<div id="circle-container">
  					<span class="texture circle at1"></span>
  					<span class="texture circle at2"></span>
  					<span class="texture circle at3"></span>
  				</div>
  			</div>
  		</div>
  		<img id="moon" src="https://dl.dropboxusercontent.com/u/12646264/assets/luna.svg">
  		<div id="stars"></div>
  		<ul>
  			<li class="star" id="star-1"></li>
  			<li class="star" id="star-2"></li>
  			<li class="star" id="star-3"></li>
  			<li class="star" id="star-4"></li>
  			<li class="star" id="star-5"></li>
  			<li class="star" id="star-6"></li>
  			<li class="star" id="star-7"></li>
  			<li class="star" id="star-8"></li>
  		</ul>
  		<div id="sun"></div>
  		<div id="cloud-container">
  			<img class="cloud" id="cloud-1" src="https://i.imgur.com/UBSglNB.png?2">
  			<img class="cloud" id="cloud-2" src="https://i.imgur.com/UBSglNB.png?2">
  			<img class="cloud" id="cloud-3" src="https://i.imgur.com/UBSglNB.png?2">
  		</div>
  	</div>
  </div>





<main>

<section class="text">
    <h1> 404 </h1>
</section>
</main>


<footer>


</footer>
  </body>
</html>
