<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->

  <% include ./partials/head.ejs %>

<link href="../stylesheets/style.css" rel="stylesheet" type="text/css">


</head>

<body class="container">

  <header>
    <% include ./partials/header.ejs %>
  </header>


  <main>
    <div class="jumbotron">

      <h2>Add your pet for adoption</h2>


    </div>
    <div class='carousel'>

    </div>

      <div class="containerOne">
        <form method="POST" action="/collections">
          <div class="row">
            <div class="c25">
              <label for="petName">Name</label>
            </div>
            <div class="c75">
              <input required type="text" id="petName" name="petName" placeholder="Name..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="breed">Breed</label>
            </div>
            <div class="c75">
              <input required type="text" id="breed" name="breed" placeholder="Breed..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="age">Age</label>
            </div>
            <div class="c75">
              <input required type="text" id="age" name="age" placeholder="Age..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="sex">Sex</label>
            </div>
            <div class="c75">
              <input required type="text" id="sex" name="sex" placeholder="sex..">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="imageurl"> Picture of your pet</label>
            </div>
            <div class="c75">
              <input required type="text" id="imageurl" name="imageurl" placeholder="Picture..">
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
  </main>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

</body>

</html>
