<!DOCTYPE html>
<html lang="en">

<head>

  <!-- <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <% include ./partials/head.ejs %>

<link href="../stylesheets/style.css" rel="stylesheet" type="text/css">

<title>Furriends</title>

</head>

<body class="container">

  <header>
    <% include ./partials/header.ejs %>
  </header>


  <main>
    <div class="jumbotron">

      <h2>Add a pet for adoption</h2>


    </div>
    <div class='carousel'>

    </div>

      <div class="containerOne">
        <form method="POST" action="/collections">
          <div class="row">
            <div class="c25">
              <label for="petName">Name</label>
            </div>
            <div class="c75">
              <input required type="text" id="petName" name="petName" placeholder="...">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="breed">Breed</label>
            </div>
            <div class="c75">
              <input required type="text" id="breed" name="breed" placeholder="...">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="age">Age</label>
            </div>
            <div class="c75">
              <input required type="text" id="age" name="age" placeholder="...">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="sex">Sex</label>
            </div>
            <div class="c75">
              <input required type="text" id="sex" name="sex" placeholder="...">
            </div>
          </div>
          <div class="row">
            <div class="c25">
              <label for="imageurl"> Picture of your pet</label>
            </div>
            <div class="c75">
              <input required type="text" id="imageurl" name="imageurl" placeholder="...">
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
  </main>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

</body>

</html>
